*,
*::before,
*::after {
  box-sizing: border-box;
}

/*GENERAL PAGE*/
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*BODY ELEMENT FORMAT: TEXT & BACKGROUND COLOR*/
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/*GENERAL CONTENT/CONTAINER FORMATTING*/
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/*PAGE'S TITLE "Password Generator"*/
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: black;
}

/*CARD/BOX THAT INCLUDES "Generate a Password" (AND Criteria Selections)*/
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: black;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/*THIN LINE UNDER "Generate a Password" HEADING*/
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*CARD-BOX CONTAINING "Your Secure Password," BELOW MAIN BOX/CONTAINER*/
.card-body {
  min-height: 100px;
}

/*AREA CONTAINING BUTTON: "Generate Password"*/
.card-footer {
  text-align: center;
}

/*THIN LINE UNDER "Your Secure Password" BOX AND ABOVE FOOTER "Generate Password" BUTTON*/
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*THIN INVISIBLE LINE UNDER FOOTER AND "Generate Password" BUTTON*/
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/*BUTTON "Generate Password"*/
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/*WTF? color of button & look of cursor after pressed*/
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/*WTF? idk but it's floating right*/
.float-right {
  float: right;
}

/*"Your Secure Password" TEXT AREA*/
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 65px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}


/*MEDIA QUERIES*/

/*When viewport reaches 690px*/ 
    font-size: 1rem;
@media (max-width: 690px) {   
  
  /*reduce "Generate Password" button size*/
  .btn {                  
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

/*and reduce "Your Secure Password" text*/
  #password {             
    font-size: 1rem;
  }
}

/*When viewport reaches 500px*/ 
@media (max-width: 500px) {

  /*reduce "Generate Password" button size*/
  .btn {                
    font-size: 0.8rem;
  }
}


/* STYLE FOR SELECTION OPTIONS 

#sec_options
.chboxl
.chboxr
#passwordLength
#LowerCase
#UpperCase
#Numbers
#Symbols

textarea #password
button #generate .btn



